footer {
    border-top: 1px solid #c0c1c2;
    text-align: center;
    margin: 3em 2em 0 2em;
    padding-top: 0.7em;
}

.banner-big {
    width: 100%;
    background-color: #006fba;
    height: 260px;
    margin: -20px 0 20px;
    color: white;
}

.banner-big .title, .banner-big .caption {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
    width: 1170px;
}

.banner-big .caption {
    padding-top: 20px;
    font-size: 28px;
    color: #c6c6c6;
}

@media (max-width: 1200px) {
    .banner-big .title, .banner-big .caption {
        width: 1170px;
    }
}
@media (max-width: 992px) {
    .banner-big .title, .banner-big .caption {
        width: 970px;
    }
}
